
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Candlestick</title>
</head>
<link rel="stylesheet" href="../static/stylesheet.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<body>

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <form action=”/NewChart” method=”post”> 
        <label> Ticker</label> 
        <input type=”text” name=”ticker” value={{request.form.ticker}}> 
        <label> Start Date </label> 
        <input type=”text” name=”start” value={{request.form.start}}> 
        <label> End Date </label> 
        <input type=”text” name=”end” value={{request.form.end}}> 
     
        <button type=”submit”> Submit </button> 
    </form> 
    <script src="../static/script.js"></script>
    <svg id="container"></svg>
    
</body>
</html>